<section class="py-5 text-center container" >
    <div class="row py-lg-5" >
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 >Ravis de vous revoir !
            Inscrivez-vous, cela ne prendra que quelques minutes.
        </h1>
        <p class="lead text-muted">Entrez votre mot de passe pour joindre notre application.</p>
      </div>
    </div>
  </section>





<form  [formGroup]="f">
  <label for="mail">Email</label>
  <input type="email" id="mail" readonly  class="form-control"   formControlName="mail">

      <label for="password">Password</label>
      <input type="password" id="password"  class="form-control"    placeholder="Entrez votre mot de passe" formControlName="password">

      <div class="alert alert-danger" *ngIf="password?.errors?.required && password.touched">
        Entrer votre mot de passe s'il vous plais
        </div>
      
            <div class="alert alert-warning" *ngIf="(password?.errors?.minlength || password?.errors?.maxlength) && password.touched">
            Le mot de passe doit avoir de 6 à 60 caractéres.
            </div> 

        <input type="submit"  class="btn btn-success" [disabled]="f.invalid" routerLink="/signup/" >
   
       
</form>


  
    

