<!-- 
<div  class="py-5  container" id="div1">
  <div class="row py-lg-5">

  <div class="alert alert-success" *ngIf="isSuccessful" >
   <i class="fas fa-check"></i> Your update is successful!
    </div>

<form 
(ngSubmit)="onSubmit()"
[formGroup]="f"
novalidate
>
<span>Prénom</span>
<input type="text" placeholder="Prénom" formControlName="prenom"><br>
<span>Nom</span>
<input type="text" placeholder="Nom" formControlName="nom" ><br>
<span for="numCarte">Numéro de carte</span>
<input type="text" placeholder="Numéro de carte" formControlName="numCarte"><br>
<span>Date d'expiration</span>

<input type="date" placeholder="Date d'expiration (MM/AA)" id="date1" formControlName="dateExp" > <br>
<div class="alert alert-warning" *ngIf="!ValidationDate() && date.touched" style="width: 390px;">
    votre date d'expiration est incorrecte <br/>
    if faut avoir un mois au mois de différence
  </div>  
<span>Cryptogramme</span>

<input type="text" placeholder="Cryptogramme (CVV)" id="Cryptogramme" formControlName="cryptogramme" required> <br><i class="fa fa-question-circle" aria-hidden="true"></i>
<span>E-mail</span>
<input type="email" placeholder="E-mail" formControlName="email"><br>
<span>Mot de passe</span>

<input type="password" placeholder="Mot de passe" formControlName="password">
<!-- <span  (click)="hide()" class="eye">
  <i id="hide2" class="fa fa-eye-slash "></i>
  <i id="hide1" class="fa fa-eye"></i>

</span> 

<input type="submit" class="btn text-light"  value="Update Infos" [disabled]="f.invalid || !ValidationDate() ">
 <div class="alert alert-warning" *ngIf="isSignUpFailed">
          Updated failed!<br />{{ errorMessage }}
        </div>  
        
</form>
</div>
</div>
</div> -->

<div  class="py-5  container" id="div1">
  <div class="row py-lg-5">
<form
(ngSubmit)="onSubmit()"
[formGroup]="f"
novalidate

>
  <h1>Editer votre informations</h1>
  <div class="separation"></div>
  <div class="alert alert-success" *ngIf="isSuccessful" >
    <i class="fas fa-check"></i> Your update is successful!
     </div>
     <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Updated failed!<br />{{ errorMessage }}
    </div> 
    <div class="alert alert-warning" *ngIf="password.touched && password.invalid">
      all fielders are required
    </div> 
  <div class="corps-formulaire">
    <div class="gauche">
      <div class="groupe">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" placeholder="Prénom" formControlName="prenom">
        <i class="fas fa-user"></i>
      </div>
      <div class="groupe">
        <label for="nom">Nom</label>
        <input type="text" id="nom" placeholder="Nom" formControlName="nom" >
       <i class="fas fa-user-circle"></i>
      </div>
      <div class="groupe">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="E-mail" formControlName="email">
        <i class="fas fa-envelope"></i>
      </div>
       <div class="groupe">
        <label for="myInput">Mot de passe</label>
        <input type="password" placeholder="Mot de passe" formControlName="password" id="myInput">
        <i class="fas fa-key"  id="i2"></i>
        <span  (click)="hide()" class="eye">
          <i id="hide2" class="fa fa-eye-slash "></i>
          <i id="hide1" class="fa fa-eye"></i>

        </span>
      </div>
    </div>

    <div class="droite">
      <div class="groupe">
  
        <label for="numCarte">Numéro de carte</label>
        <input type="text" id="numCarte" placeholder="Numéro de carte" formControlName="numCarte">
      </div>
      <div class="groupe">
  
        <label for="date1">Date d'expiration</label>
<input placeholder="Date d'expiration (JJ/MM/AA)"  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date1" formControlName="dateExp" />

        <!-- <input type="date" placeholder="Date d'expiration (MM/AA)" id="date1" formControlName="dateExp" > -->
        <div class="alert alert-warning" *ngIf="!ValidationDate() && date.touched" >
          votre date d'expiration est incorrecte <br/>
          if faut avoir un mois au mois de différence
        </div>  
      </div>
      <div class="groupe">
  
        <label for="Cryptogramme">Cryptogramme</label>
        <input type="text" placeholder="Cryptogramme (CVV)" id="Cryptogramme" formControlName="cryptogramme" required>
      </div>
    </div>
  </div>


  <div class="pied-formulaire" align="center">
    <input type="submit" class="btn btn-danger" [disabled]="f.invalid || !ValidationDate()" value="Modifier">
  </div>
</form>
</div>
</div>


























