
<div  class="py-5  container" id="div1">
  <div class="row py-lg-5">
<form
(ngSubmit)="onSubmit()"
[formGroup]="f"
novalidate

>
  <h1>Editer votre informations</h1>
  <div class="separation"></div>
  <div class="alert alert-success" *ngIf="isSuccessful" >
    <i class="fas fa-check"></i> Your update is successful!
     </div>
     <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Updated failed!<br />{{ errorMessage }}
    </div> 
    <div class="alert alert-success" *ngIf="islogout">
      <i class="fas fa-check"></i>   Your account has been removed
    </div> 
    <div class="alert alert-warning" *ngIf="password.touched && password.invalid">
      all fielders are required
    </div> 
  <div class="corps-formulaire">
    <div class="gauche">
      <div class="groupe">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" placeholder="Prénom" formControlName="prenom">
        <i class="fas fa-user"></i>
      </div>
      <div class="groupe">
        <label for="nom">Nom</label>
        <input type="text" id="nom" placeholder="Nom" formControlName="nom" >
       <i class="fas fa-user-circle"></i>
      </div>
      <div class="groupe">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="E-mail" formControlName="email">
        <i class="fas fa-envelope"></i>
      </div>
       <div class="groupe">
        <label for="myInput">Mot de passe</label>
        <input type="password" placeholder="Mot de passe" formControlName="password" id="myInput">
        <i class="fas fa-key"  id="i2"></i>
        <span  (click)="hide()" class="eye">
          <i id="hide2" class="fa fa-eye-slash "></i>
          <i id="hide1" class="fa fa-eye"></i>

        </span>
      </div>
    </div>

    <div class="droite">
      <div class="groupe">
  
        <label for="numCarte">Numéro de carte</label>
        <input type="text" id="numCarte" placeholder="Numéro de carte" formControlName="numCarte">
      </div>
      <div class="groupe">
  
        <label for="date1">Date d'expiration</label>
<input placeholder="Date d'expiration (JJ/MM/AA)"  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date1" formControlName="dateExp" />

        <!-- <input type="date" placeholder="Date d'expiration (MM/AA)" id="date1" formControlName="dateExp" > -->
        <div class="alert alert-warning" *ngIf="!ValidationDate() && date.touched" >
          votre date d'expiration est incorrecte <br/>
          if faut avoir un mois au mois de différence
        </div>  
      </div>
      <div class="groupe">
  
        <label for="Cryptogramme">Cryptogramme</label>
        <input type="text" placeholder="Cryptogramme (CVV)" id="Cryptogramme" formControlName="cryptogramme" required><br>

      </div>
    </div>
  </div>


  <div class="pied-formulaire" align="center">
    <input type="button" class="btn btn-warning c2" id="a1"    (click)="annueler(); go()" value="Annuler votre abonnement " 
    style="margin-right: 10px
    ;">
      <input type="button" class="btn btn-warning c2"  id="a2"   (click)="annueler2(); go()" value="Réactiver votre abonnement " style="margin-right: 10px;">
    <input type="submit"  class="btn btn-warning c2"  [disabled]="f.invalid || !ValidationDate()" value="Modifier vos  données" >
 <br> <br>
    <input type="button" class="btn btn-danger" style="background-color: rgb(238, 3, 3);color: rgb(255, 255, 255);" (click)="onSupprimer(currentUser.id) ; go()" value="Supprimer votre abonnement ">
    <br> <br>
  


    
  </div>
</form>
</div>
</div>
<br><br><br><br><br>
{{currentUser.nom}}






















































<!-- 
 
<div  class="py-5  container" id="div1">
  <div class="row py-lg-5">
<form
(ngSubmit)="onSubmit()"
[formGroup]="f"
novalidate

>
  <h1>Editer votre informations</h1>
  <div class="separation"></div>
  <div class="alert alert-success" *ngIf="isSuccessful" >
    <i class="fas fa-check"></i> Your update is successful!
     </div>
     <div class="alert alert-warning" *ngIf="isSignUpFailed">
      Updated failed!<br />{{ errorMessage }}
    </div> 
    <div class="alert alert-success" *ngIf="islogout">
      <i class="fas fa-check"></i>   Your account has been removed
    </div> 
    <div class="alert alert-warning" *ngIf="password.touched && password.invalid">
      all fielders are required
    </div> 
  <div class="corps-formulaire">
    <div class="gauche">
      <div class="groupe">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" placeholder="Prénom" formControlName="prenom">
        <i class="fas fa-user"></i>
      </div>
      <div class="groupe">
        <label for="nom">Nom</label>
        <input type="text" id="nom" placeholder="Nom" formControlName="nom" >
       <i class="fas fa-user-circle"></i>
      </div>
      <div class="groupe">
        <label for="email">E-mail</label>
        <input type="email" id="email" placeholder="E-mail" formControlName="email">
        <i class="fas fa-envelope"></i>
      </div>
       <div class="groupe">
        <label for="myInput">Mot de passe</label>
        <input type="password" placeholder="Mot de passe" formControlName="password" id="myInput">
        <i class="fas fa-key"  id="i2"></i>
        <span  (click)="hide()" class="eye">
          <i id="hide2" class="fa fa-eye-slash "></i>
          <i id="hide1" class="fa fa-eye"></i>

        </span>
      </div>
    </div>

  
   
  </div>


  <div class="pied-formulaire" align="center">
    <input type="button" class="btn btn-warning c2"  *ngIf="exp"  (click)="annueler(); go()" value="Annuler votre abonnement " style="margin-right: 10px
    ;">
      <input type="button" class="btn btn-warning c2"  *ngIf="!exp"  (click)="annueler2(); go()" value="Réactiver votre abonnement " style="margin-right: 10px;">
    <input type="submit"  class="btn btn-warning c2"  [disabled]="f.invalid " value="Modifier vos  données" >
 <br> <br>
    <input type="button" class="btn btn-danger" style="background-color: rgb(238, 3, 3);color: rgb(255, 255, 255);" (click)="onSupprimer(currentUser.id) ; go()" value="Supprimer votre abonnement ">
    <br> <br>
  


    
  </div>
</form>
</div>
</div> <form [formGroup]="form" (ngSubmit)="updatecompte()" style="position: absolute;top: 120vh;">


  <div class="droite">
    <div class="groupe">

      <label for="numCarte">Numéro de carte</label>
      <input type="text" id="numCarte" placeholder="Numéro de carte" formControlName="numCarte">
    </div>
    <div class="groupe">

      <label for="date1">Date d'expiration</label>
<input placeholder="Date d'expiration (JJ/MM/AA)"  type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date1" formControlName="dateExp" />

       <input type="date" placeholder="Date d'expiration (MM/AA)" id="date1" formControlName="dateExp" > -->
      <!-- <div class="alert alert-warning" *ngIf="!ValidationDate() && date.touched" >
        votre date d'expiration est incorrecte <br/>
        if faut avoir un mois au mois de différence
      </div>   
    </div>
    <div class="groupe">

      <label for="Cryptogramme">Cryptogramme</label>
      <input type="text" placeholder="Cryptogramme (CVV)" id="Cryptogramme" formControlName="cryptogramme" required><br>

    </div>
  </div>
<input type="submit" value="go">


</form>








 -->

















