<!-- <div class="banner">
<video src="../assets/v2.mp4"  autoplay loop></video>
</div> -->



<!-- <section class="home" id="home">

     <div class="controls">
        <span class="vid-btn" data-src="../../../assets/vid5.mp4"></span>
    </div>  
    
    <div class="video-container">
        <video loop autoplay muted> 
            <source src="../assets/v8.mp4"> 
        </video>
    </div>
    
    </section> -->
    <section class="home" id="home">
        <img src="../../../assets/background.jpg" alt="">
    </section>