<!-- <div class="container my-4">
<div class="stepLogoContainer">
   <i class="far fa-check-circle"></i>
</div>
   
    <div class="border border-light p-3 mb-4">
     
      <div class="d-flex align-items-center justify-content-center" style="height: 350px">
        <div class="p-2 bd-highlight col-example">Flex item</div>
        <div class="p-2 bd-highlight col-example">Flex item</div>
        <div class="p-2 bd-highlight col-example">Flex item</div>
      </div>

    </div>

  </div> -->
  <div class="card c1" style="text-align: center;" >
    <div class="card-header">
        Choisissez votre forfait .
    </div>
    <div class="card-body">
     <ul>
         <li>   Sans engagement. Annulable à tout moment.</li>
         <li>   Tous les programmes  pour un abonnement très attractif.</li>
         <li>    Accès illimité sur tous vos appareils.</li>
     </ul>
     <div class="card-footer" style="text-align: center;">  <a href="#" class="btn btn-primary" routerLink="/signup/planform/">Suivant</a></div>
    </div>
  </div>