
<div class="div1">
<app-background>
</app-background>

<section class="   text-center container"  >
  <div class="row py-lg-5" >
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 style="font-weight: bold;font-size: 50px;color: rgb(255, 255, 255);">Trends company</h1>
      <h3 style="font-weight: bold;color: rgb(255, 255, 255);" class="lead  ">Où que vous soyez. Annulez à tout moment.</h3> <br>
      <p class="lead text-center " style="color: rgb(255, 255, 255);">Prêt à ameliorer ? Saisissez votre adresse e-mail pour vous abonner ou réactiver votre abonnement. 
        
      </p>
    </div>
  </div>
</section> 
</div>
<!-- <div id="d1">
  <h1 class="fw-light">La technologie au service de <br> <span id="mot"> La Transformation Digitale</span>
  </h1><br> -->

  <!-- Chez Trends, 
  nous proposons un accompagnement tout-en-un pour<br> vous  aider à tirer 
   le meilleur parti de la digitalisation <br> et augmenter votre chiffre d'affaires ! <br>
    TRENDS est une agence de Communication et web basée en Tunisie <br> qui utilise 
     Des yeux graphiques et des mains techniques <br> en font son cœur Stratégie <br>
      digitale pour promouvoir vos marques et institutions . -->
    
<app-home2></app-home2>
    
    <!-- <button id="btn" class="btn btn-danger" routerLink="/home/">Commencer</button> -->
