

<app-background>
</app-background>
<div id="d1">
  <h1 class="fw-light">La technologie au service de <br> <span id="mot"> La Transformation Digitale</span>
  </h1><br>

  Chez Trends, 
  nous proposons un accompagnement tout-en-un pour<br> vous  aider à tirer 
   le meilleur parti de la digitalisation <br> et augmenter votre chiffre d'affaires ! <br>
    TRENDS est une agence de Communication et web basée en Tunisie <br> qui utilise 
     Des yeux graphiques et des mains techniques <br> en font son cœur Stratégie <br>
      digitale pour promouvoir vos marques et institutions .
    

    </div>
    <button id="btn" class="btn btn-danger" routerLink="/home/">Commencer</button>
