<app-background>
</app-background>
    <div class="content">
      <!-- <img
        id="profile-img"
        src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
        class="profile-img-card"
      /> -->
      <!-- <h1 class="text-center" style="color: rgb(0, 0, 0);">Login</h1> -->
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <h2 style="text-align: center;">S'identifier</h2> <br>
        <div class="form-group txt_field">
<label for="username">Username</label>

          <i class="fas fa-user" style="color: white;" id="i1"></i>
          <input
            type="text"
            class="form-control" placeholder=" Username"
            name="username"
            [(ngModel)]="form.username"
           
            #username="ngModel"
            id="username"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Username is required!
          </div>
        </div>
        <div >
          <i class="fas fa-key" style="color: white;" id="i2"></i>
<label for="myInput">Mot de passe</label>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            id="myInput"
          />
          <span  (click)="hide()" class="eye">
            <i id="hide2" class="fa fa-eye-slash "></i>
            <i id="hide1" class="fa fa-eye"></i>

          </span>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
       
          <input type="submit" class="btn-primary " [disabled]="form.invalid" value="Login">
       
        
        <br>
        <div class="form-group">
          <div
            class="alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed" style="height: 48px;"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>
        <br>
        <br>
        <div class="signup_link" style="text-align: center;">
          Not a member? <a href="#" routerLink="/home/">Signup</a>
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in as {{ roles }}.
      </div>
    </div>
  