#id1{
    position: absolute;
     top: 50%;
    left: 50%; 
    transform: translate(-50%, -55%);
    width: 50%;
}
#i1{
    position: absolute;
    transform: translate(200%,380%);
    z-index: +200;
  }
  label{
    font-style: arial;
    position: relative;
    left: 130px;
    top: 16px;
    font-size: 17px;
  }
#i2{
    position: absolute;
    transform: translate(850%,300%);
    z-index: +200;
  }
  form .txt_field{
    position: relative;
  
    margin: 30px 0;
  }
  /* ::placeholder{
    padding-left: 10px;
  } */
input{
  padding-left: 35px;

    width: 175%;
    /* padding: 0 5px; */
    position: relative;
    left: 125px;
    height: 55px;
    font-size: 16px;
    /* border: none; */
    background: white; 
     outline: none;
     color: black;
}


/* input.ng-valid { border-left: 2px solid green; }
input.ng-invalid { border-left: 2px solid red; } */
button{
    position: relative;
    height: 55px;
    width: 140px;
    transform: translate(500%,-153%);
}
