







.c1{
    position: absolute;
    top: 10px;
  
    left: 1400px;
    color: rgb(255, 255, 255) ;
    border-radius: 2px;
    background-color: red;
    /* background-color: red; */
  }
  .active{
    background-color: rgb(195, 193, 197);
    /* width: 200px; */
    text-align: center;
    border-radius: 5px;
    color: black;
    /* margin-left: 10px;
    margin-right: 20px; */
  }
  img{
    height: 50px;
    position: absolute;
   top: 10px;
  }
 
  .c2{
      position: absolute;
      top: 5px;
      /* border-radius: 4px; */
  font-size: 19px;
  width: 70%;
  /* display: flex;
  flex-wrap: nowrap; */
  
      left: 1210px;
      color: rgb(0, 0, 0);
  
    }
    .c3{
      position: absolute;
      top: 5px;
      /* border-radius: 4px; */
  font-size: 19px;
      left: 1110px;
      color: rgb(0, 0, 0);
  
    }
    .nav-item{
      margin-left: 10px;
    }
    .c6{
      position: relative;
      top: 3px;
      opacity: 0.7;
      font-size: 17px;
    }
    
  
  