<div id="div1">
<h3 style="text-align:start;">Selectionnez le forfait qui vous convient</h3> <br>
<ul style="list-style-type: none;">
    <li>  
<i  class="fas fa-check" style="color: red;">   </i> <span> Regardez autant que vous voulez. Sans publicité. </span>
    </li>
    <li>
        <i  class="fas fa-check" style="color: red;"></i> <span> Recommandations personnalisées.</span>
    </li>
<li>
    <i class="fas fa-check" style="color: red;"></i> <span> Changez ou annulez votre forfait à tout moment.</span>
</li>
</ul>
<table>
    <tr>
        <th>Abonnement mensuel</th>
    </tr>
    <tr>
        <th>Qualité vidéo</th>
    </tr>
    <tr>
        <th>Résolution</th>
    </tr>
</table>
</div>